# backend/configs/app.yml

server:
    port: 8080
database:
    dsn: 'gosveltekit.db'
email:
    smtp_host: 'sandbox.smtp.mailtrap.io'
    smtp_port: 587
    smtp_username: 'da92b160236933'
    smtp_password: '' # Em produção, use variáveis de ambiente
    from_email: 'no-reply@gosveltekit.com'
    from_name: 'GoSvelteKit'
    reset_url: 'http://localhost:5173/reset-password?token=' # URL base para links de recuperação
